<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
    <div id=userWrapper>
      <h1>{{data.users.name}}</h1>
    </div>
  </body>
</html>
