/*

main color: #3178d8
secondary color: #da5d72

*/


/*------ Mian Styles for index page -----*/

*{
  font-family: 'Helvetica', arial;
}

h1{
  color: #3178d8;
  font-size: 20px;
  text-align: center;
}

p{
  text-align: center;
}

#wrapper{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

#user{
  width: 20%;
  padding: .5em;
  border: 1px solid lightgrey;
  margin: 1em;
  border-radius: .3em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#user a{
  display: flex;
  justify-content: center;
}
#user p{
  margin-top: -.5em;
}


/*------ User page styles -----*/

#userName{
  font-weight: 500;
  font-size: 50px;
  margin-left: 1em;
  text-align: left;
  margin-top: 0;
}

#userContainer{
  margin: 0 auto;
}

#userWrapper{
  width: 60%;
  margin: 0 auto;
  margin-top: 5em;
}

#userImage img{
  border: 1px solid lightgrey;
  border-radius: 100%;
  float: left;
}

#userInfo{
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
}

#userInfo p{
  margin-top: -.8em;
  text-align: left;
  margin-left: 2em;
}
